In [8]:
aSet = {1,2,3,4,5,6,7,8,9}
aSet

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [10]:
aSet.update({'Abdullah', 'Furqan'})
aSet

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'Abdullah', 'Furqan'}

In [11]:
bSet = {21, 'Ali', 'Zee'}

In [12]:
bSet.update('34')
bSet

{21, '3', '4', 'Ali', 'Zee'}

In [14]:
bSet.add(22)
bSet

{21, 22, '3', '4', 'Ali', 'Zee'}

# Dictionary

In [15]:
A_dic = {} #it might be set or dictionary but it must take it as a dictionary

In [19]:
dictionary = {"name": "Abdullah", "age": 23, "Qual": "BCS", "Exp":2}
dictionary

{'name': 'Abdullah', 'age': 23, 'Qual': 'BCS', 'Exp': 2}

In [23]:
dictionary["name"] = "Furqan"
dictionary

{'name': 'Furqan', 'age': 23, 'Qual': 'BCS', 'Exp': 2}

In [24]:
for a in dictionary:
    print(a)

name
age
Qual
Exp

In [28]:
for key in dictionary.keys():
    print(dictionary[key])

Furqan
23
BCS
2

In [29]:
for item in dictionary.items():
    print(item)

('name', 'Furqan')
('age', 23)
('Qual', 'BCS')
('Exp', 2)

In [32]:
for key, item in dictionary.items():
    print(key, item)

name Furqan
age 23
Qual BCS
Exp 2

In [41]:
for key, item in dictionary.items():
    print(key, item)

name Furqan
age 23
Qual BCS
Exp 2

In [34]:
for char in enumerate("Pakistan"):
    print(char)

(0, 'P')
(1, 'a')
(2, 'k')
(3, 'i')
(4, 's')
(5, 't')
(6, 'a')
(7, 'n')

In [40]:
for key, item in enumerate(dictionary.items()):
    print(key, item)

0 ('name', 'Furqan')
1 ('age', 23)
2 ('Qual', 'BCS')
3 ('Exp', 2)

In [49]:
for a, (b, c) in enumerate(dictionary.items()):
    print(a, b, c)

0 name Furqan
1 age 23
2 Qual BCS
3 Exp 2

In [52]:
price_in_rs = {'milk':120, 'coffee':150, 'bread':50}
price_in_rs

{'milk': 120, 'coffee': 150, 'bread': 50}

In [57]:
dollars_rate = 160
price_in_dollars = {key:(value/dollars_rate) for key, value in price_in_rs.items()}
price_in_dollars

{'milk': 0.75, 'coffee': 0.9375, 'bread': 0.3125}

In [67]:
new_price_in_dollars = {}
for key, item in price_in_dollars.items():
    if price_in_dollars[key] < 0.5:
        new_price_in_dollars[key] = item
        
print(price_in_dollars, new_price_in_dollars)

{'milk': 0.75, 'coffee': 0.9375, 'bread': 0.3125} {'bread': 0.3125}