# Return:

In [16]:
def fullName():
    fname = input("Your first name : ")
    lname = input("Your last name : ")
    
    #concept of local and global variable
    
    ##### to make local to global (important==> can not assign value on blow line but next line on the blow line)
    #method 1 to convert varible as global
    #global fullname
    
    ###########local############
    fullname = f"{fname} {lname}"
    ###########local############
    
    
    
    #print(fullname)
    
    #it returns varible as global
    #method 2 to convert varible as global
    return fullname
    
#"return" returns multiple values as tuple
#return fullname , 100 , 4400 , [3, 4, 5]

In [11]:
myfullname = fullName()

Your first name : Abdullah
Your last name : Bin
Abdullah Bin

In [12]:
myfullname + " Qadeer"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [17]:
fullname

'Abdullah Bin'

# Arguments of function

In [21]:
def add(): #parameter less
    n1 = int(input())
    n2 = int(input())
    sum1 = n1 + n2
    return sum1

In [22]:
add() #argument less

3
4

7

In [ ]:
print("asad") #argument

In [25]:
def add(n1, n2): #parameterized (parameter n1 and n2)
    """This Function takes two integer parameters
    this function is in saylani class on wed 20 jan""" #DocString (get ==> shift + tab) imp => it must be on first line of func
    sum1 = n1 + n2
    return sum1

In [24]:
add(23, 45) #argument (positional argument)

68

In [26]:
add(n2=45, n1=23) #argument (Keyword argument)

68

In [30]:
def add2(n1, n2, n3, n4): #parameterized (parameter n1, n2, n3, n4)
    """This Function takes four integer parameters
    this function is in saylani class on wed 20 jan""" #DocString (get ==> shift + tab) imp => it must be on first line of func
    sum1 = n1 + n2 + n3 + n4
    return sum1

In [31]:
add2(2, 3, n3=5, n4=10) #argument (positional argument must come first than keyword argument)

20

In [33]:
def add3(n1=0, n2=0, n3=0, n4=0): #parameterized default parameters
    """This Function takes four integer parameters
    this function is in saylani class on wed 20 jan""" #DocString (get ==> shift + tab) imp => it must be on first line of func
    sum1 = n1 + n2 + n3 + n4
    return sum1

In [34]:
add3(2, 3, n3=5, n4=10) #argument

20

In [38]:
def add4(n1, n2, n3=0, n4=0): #non-default parametrs must comes before than default parameters
    """This Function takes four integer parameters
    this function is in saylani class on wed 20 jan""" #DocString (get ==> shift + tab) imp => it must be on first line of func
    sum1 = n1 + n2 + n3 + n4
    return sum1

In [39]:
add4(2,3)

5

In [49]:
def tax_calc(basic_salary):
    tax = 0
    
    if basic_salary < 30000:
        tax = 0
    elif (basic_salary > 30000) and (basic_salary <= 50000):
        tax = 5
    elif (basic_salary > 50000) and (basic_salary <= 100000):
        tax = 10
    else:
        tax = 20
    return tax

In [50]:
def salary_calc(basic_salary):
    deductions = basic_salary * tax_calc(basic_salary)/100
    salary = basic_salary - deductions
    return salary

In [55]:
basic_salary = int(input("Enter your basic salary : "))
print(f"Your total salary after deduction {salary_calc(basic_salary)}")

Enter your basic salary : 80000
 Your total salary after deduction 72000.0

In [ ]:
# add commision by geting from user that how many addons

In [56]:
#pg # 144
def build_person(first_name, last_name, age=''):
    """Return a dictionary of information about a person."""
    person = {'first': first_name, 'last': last_name}
    if age:
        person['age'] = age
    return person
musician = build_person('jimi', 'hendrix', age=27)
print(musician)

{'first': 'jimi', 'last': 'hendrix', 'age': 27}

In [57]:
# 0 (false) or 1 (true)
0 or 1

1

In [58]:
# 1 or other than 0 (false)
0 or 2

2

In [59]:
0 and 1

0

In [60]:
0 or ''

''